@tailwind base;
@tailwind components;
@tailwind utilities;

#loginin:checked + .mymodal {
    display: flex;
}

#loginin + .mymodal {
    display: none;
}
#registerin:checked + .mymodalregister {
    display: flex;
}

#registerin + .mymodalregister {
    display: none;
}