@tailwind base;
@tailwind components;
@tailwind utilities;

.team:hover{
  .absolute{
  opacity: 0.8;
  bottom:8%;
  }
}

html{
  scroll-behavior: smooth;
}
#loginin:checked + .mymodal {
    display: flex;
}
.btn:is(input[type=radio]:checked){
  @apply bg-primary text-white
}

#loginin + .mymodal {
    display: none;
}
#registerin:checked + .mymodalregister {
    display: flex;
}

#registerin + .mymodalregister {
    display: none;
}
